.cartContent {
  background-color: burlywood;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 30px;
  height: 200px;
}

.cartContent > img {
  height: 200px;
  width: 150px;
  text-align: center;
}

.cartTotal {
  text-align: center;
}

.cart-message-center {
  text-align: center;
  margin-top: 40px;
}

.counter-button {
  cursor: pointer;
  font-weight: bold;
}

.cart-delete-button {
  cursor: pointer;
}

.cart-items-total {
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  padding: 4px;
  top: 37px;
  right: 14px;
  position: absolute;
}
.checkout-button {
  background-color: #1b1b1b;
  display: flex;
  justify-content: space-around;
  margin-left: 42%;
  margin-right: 42%;
}
